<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">microCup</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tournaments" routerLinkActive="active">
            Tournaments
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help" routerLinkActive="active">
            Help
          </a>
        </li>
        </ul>
        <ul class="navbar-nav navbar-right">
        <li *ngIf="!(afAuth.user$ | async)" class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            Login
          </a>
        </li>
        <li *ngIf="afAuth.user$ | async as user; else anonymousUser" class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">
              Logout
            </a>
          </li>
      </ul>
    </div>
  </div>
</nav>